
/*Adjusts Side Information Box to align with main boxes*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*Adds colour, font and space in the header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*Moves the header selections to the top right of page and changes size*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Changes colour of seo in Horiseon title in header*/
header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/*Lines up options on header side-by-side*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Adds color to options on header*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Main*/
p {
    font-size: 16px;
}
/*Adjusts main image size*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit:cover;
    background-size: cover;
    background-position: center;
}
/*Moves "Search Engine Optimization" and "Social Media Marketing" Text*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*Moves "Online Reputation Management" Text*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Changes style to "Search Engine Optimization, Online Reputation Management and Social Media Marketing"*/
main.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff; 
}
/*Changes Images in "Search Engine Optimization, Online Reputation Management and Social Media Marketing"*/
main.content img{
    max-height: 200px;
}

/*Changes Headings in "Search Engine Optimization, Online Reputation Management and Social Media Marketing"*/
main.content h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/*Adjusts side information box to align with main boxes*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Creates side information box*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Changes style to "Lead Generation, Brand Awareness and Cost Management"*/
aside.benefits section{
    margin-bottom: 32px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}
/*Changes Images in "Lead Generation, Brand Awareness and Cost Management"*/
aside.benefits img{
    display: block;
    margin: 10px auto;
    max-width: 150px; 
}

/*Changes Style and Placement of Footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Changes h4 font*/
footer h4 {
    font-size: 20px;
}


